.Btn {
    background-color: black;
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px 10px;
    color: white;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 120px;

}