
.Container {
	max-width: 500px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	flex-direction: column;
}

.Title {
    font-size: 2rem;
    color: grey;
    
}

.Table {
	width:100%;
	border:1px solid #EEEEEE;
}

.Thead {
	width:100%;
	background:#000;
	padding: 1rem;
	color: honeydew;
}

.TableRow {
	width:100%;
	padding:1rem;
}

.TableRow:nth-of-type(odd) {
    background:#EEEEEE;
}

.Info{
    padding: 10px;
}