.Spinner {
    margin: 100px auto;
  font-size: 40px;
  color: cadetblue;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  -webkit-animation: load 1.1s infinite ease;
  animation: load 1.1s infinite ease;
  transform: rotate(45deg);
}

@-webkit-keyframes load {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes load {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
  